scipy
termcolor
addict
yapf==0.40.1
timm
numpy
opencv-python
pycocotools
colorlog
setuptools
ushlex
gradio>=4.0.0,<5
gradio_image_prompter-0.1.0-py3-none-any.whl
starlette<1.0.0
spaces
filetype
tqdm
--extra-index-url https://download.pytorch.org/whl/cu121
torch<2.6
torchvision
transformers<5
huggingface_hub<1
pydantic==2.10.6